<!-- ======================== HEAD || CONFIGURACION ARCHIVO HTML ======================== -->

<!-- =================== BODY || MAQUETADO DEL ARCHIVO HTML (Header, Main, Footer) =================== -->

<%- include('./partials/head', {title:"LOGIN"}) %> 

<body class="general_body">
    <!-- ======================== BODY || MAQUETADO DEL HEADER ======================== -->
    <%- include('./partials/header') %>

    <!-- ======================== BODY || MAQUETADO DEL MAIN ======================== -->
    <main class="general_main" >
        <div class="login_return">          <!-- Opcion de retorno a Inicio-->
            <a href="/">Inicio</a>
            <span>/Login</span>
        </div>
        <section class="login_section">               <!-- Seccion completa para loguear-->
            <header class="login_section-header" >    <!-- Titulo de Login-->
                <h1>ingresar</h1>
            </header>
            <main class="login_section-main">         <!-- Opcion de Registrarse o Loguearse cambio formulario-->
                <div class="login_section_main-option">
                    <div class="log_sec_main_opt-reg">
                        <a href="../users/register">Registrarse</a>
                    </div>
                    <div class="log_sec_main_opt-log">
                        <a href="../users/login">Iniciar Sesi칩n</a>
                    </div>
                </div>
                <form action="login"  method="POST" class="login_section_main-form">    <!-- Formulario Login-->
                    <div class="log_sec_main_form-container">
                        <input type="email" id= "email" name="email" placeholder="Ingrese su email">
                        <span class="login_error"> <%= locals.errors && errors.email ? errors.email.msg : null  %>  </span>
                    </div>
                    <div class="log_sec_main_form-container">
                        <input type="password" id="password" name="password" placeholder="Ingrese su contrase침a">
                        <span class="login_error"> <%= locals.errors && errors.password ? errors.password.msg : null  %>  </span>
                    </div>
                    <div class="log_sec_main_form-container-boton">
                        <button type="submit">Iniciar Sesi칩n</button>
                    </div>
                    <div class="login_section_main-correo">       <!-- Otra opcion de loguin-->
                        <P>o iniciar sesi칩n con</P>
                        <button> <i class="fa-brands fa-google"></i> GOOGLE</button>
                    </div>
                </form>
            </main>
        </section>
    </main>

    <!-- ======================== BODY || MAQUETADO DEL fOOTER ======================== -->
    <%- include('./partials/footer') %>
</body>

</html>