<%- include('./partials/head', {title:"Modelo"}) %>

<!-- =================== BODY || MAQUETADO DEL ARCHIVO HTML (Header, Main, Footer) =================== -->
<body general_body>
    <!-- ======================== BODY || MAQUETADO DEL HEADER ======================== -->
    <%- include('./partials/header') %>
    
    <!-- ======================== BODY || MAQUETADO DEL MAIN ======================== -->
    <main class="general_main">
        <div class="carrucel">
         
        </div>
        <div class="caja--menu-lista">
        <div class="listado_categoria"><h1>categoria</h1>
           
            
             <div><a href="/">mates</a></div>
             <div><a href="/">figuras</a></div>
             <div><a href="/">llaveros</a></div>
             <div><a href="/">articulados</a></div>
             <div><a href="/">portacelular</a></div>
             <div><a href="/">cosplay</a></div>
             <div><a href="/">juegos</a></div>
             <div><a href="/">funkos</a></div>

         </div>
         <div class="caja-de-imagenes">
            
            <% products.forEach(product => { %>
                <div class="caja-de-producto">
                    <a href="/products/detalle/<%= product.id%>">
                        <figure>
                            <img src="/images/<%= product.imagen %> " >
                        </figure>
                        <article>
                            <p><%= product.nombre %>   <%= product.precio %> </p>
                        </article>
                    </a>
                </div>
                
            <% }) %>
        </div>
        </div>
    </main>
    <!-- ======================== BODY || MAQUETADO DEL fOOTER ======================== -->
    <%- include('./partials/footer') %>
</body>
</html>